<head>

    <meta charset="UTF-8">

    <title>Page Layout</title>

    <link rel="stylesheet" href="style4.css" />

  </head>

  <body>

	    <header class="container">

	    <div class="left">	
	    	<logo>
	    	</logo>
	    </div>

	    	<bar class="right">

		    	<nav>
		    	</nav>

		    	<nav>
		    	</nav>

		    	<nav>
		    	</nav>

		    	<nav>
		    	</nav>

	    	</bar>

	  	</header>

		  	<main class="container">

		  		<section>
		  		</section>

	  		</main>

	  		<aside class="container">

	  			<div>
	  			</div>

	  			<div>
	  			</div>

	  			<div>
	  			</div>

	  		</aside>

	  	<footer>
	  	</footer>


  </body>
 </html>